@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 188 75% 93%;
    --foreground: 187 25% 25%;
    --card: 188 75% 98%;
    --card-foreground: 187 25% 25%;
    --popover: 188 75% 98%;
    --popover-foreground: 187 25% 25%;
    --primary: 187 100% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 187 30% 88%;
    --secondary-foreground: 187 25% 25%;
    --muted: 187 30% 88%;
    --muted-foreground: 187 15% 55%;
    --accent: 45 100% 58%;
    --accent-foreground: 45 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 187 20% 80%;
    --input: 187 20% 85%;
    --ring: 187 100% 42%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
