@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 259 67% 44%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 222 47% 11%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 162 72% 46%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 259 67% 44%;
    --chart-1: 259 67% 50%;
    --chart-2: 162 72% 50%;
    --chart-3: 346 76% 56%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
